<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Shop|Farmers Portal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
    <div class="container"></div>

    <div class="navbar">
        <div class="logo">
            <img src="{% static 'logo-removebg-preview.png' %}" width="125px" alt="">

        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Crops</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
                
            </ul>
        </nav>
        <img src="{% static 'cart.png' %}" width="30px" height="30px">
        <img src="{% static 'menu.png' %}" class="menu-icon">
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Buying<br>Made Easy</h1>
            <p>CROP SHOP is a digital B2B market solution that brings together Farmers and Industrial Buyers.</p>
            <a href="" class="btn">Explore Now &#8594;</a>
       
        </div>
        <div class="col-2">
            <img src="{% static 'farmer-clipart-transparent-background-4.png'%}" alt="">
        </div>
    </div>
</div>
</div>

<!--featured categories-->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'pic1.jpg'%}" width="350">
                </div>
                <div class="col-3">
                    <img src="{% static 'pic 2.jpg'%}" width="350">
                </div>
                <div class="col-3">
                    <img src="{% static 'blurred-background-close-up-crop.jpg'%}" width="350">
                </div>
            </div>
        </div>
        
    </div>   

    <!--featured products-->
    <div class="small-container">
        <h2 class="title">Season Crops</h2>
        <div class="row">
            {% for crop in Crops %}
            <div class="col-4">
                {% if crop.id < 5 %}
                <img src={{crop.image.url}}>
                <h4> {{ crop.name }} </h4>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>₹{{ crop.msp }}/kg</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <h2 class="title">Pre-Season Crops</h2>
    <div class="row">
        {% for crop in Crops %}
        <div class="col-4">
            {% if crop.id > 4 and crop.id < 9 %}
            <img src="{{crop.image.url}}">
            <h4> {{ crop.name }} </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>

            </div>
            <p>₹{{ crop.msp }}/kg</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<!----------Biding---------->
       <div class="offer">
           <div class="small-container">
                {% for crop in Crops %}
               <div class="row">
                   {% if crop.id == 9 %}
                   <div class="col-2">
                       <img src="{{crop.image.url}}" alt="">
                   </div>
                   <div class="col-2">
                       <p>Biding Available on {{crop.name}}</p>
                       <h1>{{crop.name}}</h1>
                       <small>
                        {{ crop.description }}
                       </small>
                       <br>
                       <a href="" class="btn">Bid Now &#8594 </a>
                   </div>
                   {% endif %}
               </div>
               {% endfor %}
           </div>
       </div>
<!----------testimonial---------->
       <div class="testimonial">
           <div class="small-container">
               <div class="row">
                   <div class="col-3">
                       <i class="fa fa-quote-left"></i>
                      <p> Very cheap vegetables with premium quality. buy at Crop Shop!</p> 
                      <div class="rating">
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star" ></i>
                        <i class="fa fa-star-o"></i>
                     </div>
                     <img src="{% static 'user-1.png'%}" alt="">
                     <h3>XYZ</h3>
                   </div>
                   <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                   <p>We can get pulses at such low cost then market, I'm glad to use Crop Shop</p> 
                   <div class="rating">
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star"></i>
                  </div>
                  <img src="{% static 'user-2.png'%}" alt="">
                  <h3>XYZ</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                   <p>Amazing Experience!</p> 
                   <div class="rating">
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star" ></i>
                     <i class="fa fa-star"></i>
                  </div>
                  <img src="{% static 'user-3.png'%}" alt="">
                  <h3>XYZ</h3>
                </div>
               </div>
           </div>
       </div>

<!-------------footer--------------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phones</p>
                <div class="{% static 'app-logo'%}">
                    <img src="{% static 'play-store.png'%}">
                    <img src="{% static 'app-store.png'%}">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{% static 'logo-removebg-preview.png'%}" alt="">
                <p>Our Purpose is to Make the crops of Farmers to reach naitonwide</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Refund Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Code Breakers</p>
    </div>
</div>
</body>
</html>