<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Register</title>
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn">
                <a href="/login/"><button type="button" class="toggle-btn" onclick="login()"></button></a>
            </div>
            
            </div>
            <div class="social-icons">
                <img src="{% static 'fb.png' %}">
                <img src="{% static 'tw.png' %}">
                <img src="{% static 'gp.png' %}">
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="input">
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    <br>
                {% endfor %}
                </div>

                <input type="checkbox" class="chech-box"><span>Agree to terms & conditions</span>
                <button type="submit" class="submit-btn">Register</button>
            </form>

        </div>
        
    </div>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0";
        }
    </script>
    
</body>
</html>